<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIRECTORY</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- External CSS -->
    <link rel="stylesheet" href="/css/stylesheet.css">
    <!-- FontAwesome Script -->
    <script src="https://kit.fontawesome.com/f961aa1ec5.js" crossorigin="anonymous"></script>
    <!-- Custom Font Family -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Lobster&family=Tenor+Sans&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="container-fluid m-0 p-0">
        <div class="row align-items-center">
            <div class="col-2 p-3">
                <a class="navbar-brand ms-4" href="#"><span style="color: black; font-size: 30px; font-weight: 600;">Directory</span> <span style="font-size: small; background-color: rgb(27, 179, 27); padding: 1px 2px 2px 1px; color: white; vertical-align: text-top;">pro</span></a>
            </div>
            <div class="col-10 p-3">
                <ul class="d-flex p-4 mb-0" style="list-style-type:none; font-weight: 400;">
                    <li class="p-4">HOME <i class="fas fa-angle-down"></i></li>
                    <li class="p-4">More info</i></li>
                    <li class="p-4">Examples <i class="fas fa-angle-down"></i></li>
                    <li class="p-4">Submit Listing</li>
                    <li class="p-4">Plugings <i class="fas fa-angle-down"></i></li>
                    <li class="p-4">Elements <i class="fas fa-angle-down"></i></li>
                    <li class="p-4"><i class="fas fa-bars" style="border: 2px solid rgb(200, 200, 206); font-size: 15px; padding: 7px;"></i></li>
                    <li class="p-4"><span style="border: 2px solid rgb(200, 200, 206); font-size: 15px; padding: 7px;">3</span><span style="border: 2px solid rgb(200, 200, 206); font-size: 15px; padding: 7px; background-color: rgb(113, 243, 119);">Add</span></li>
                    <li class="p-4 ps-0"><i class="fas fa-user" style="border: 2px solid rgb(200, 200, 206); font-size: 15px; padding: 7px;"></i></li>
                    <li class="p-4 ps-0"><i class="fas fa-globe" style="border: 2px solid rgb(200, 200, 206); font-size: 15px; padding: 7px;"></i></li>
                    <li class="p-4 ps-0"><i class="fas fa-shopping-cart" style="border: 2px solid rgb(200, 200, 206); font-size: 15px; padding: 7px;"></i></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="bgimg1">
                    <div class="card card1" style="width: 25rem;">
                        <div class="card-body text-center">
                            <div class="card-text">
                                <span style="font-size: large; color: ghostwhite;">For business inquiry call our Infoline</span>
                                <span style="color: #ffffff; font-size: xx-large;">+421 99 123456</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-4">
                <div class="card text text-center mx-auto card2" style="width: 80%;">
                    <div class="card-header" style="background-color: #ffffff;">
                      <span style="font-size: x-large; color: black; font-family: Arial, Helvetica, sans-serif; font-weight: 700;"> Mr. Eduardo Welch</span><br>
                      <span style="font-size: large; color:rgb(186, 186, 190);">SUPPORT</span>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item m-0 p-0"><img src="/img/man.jpg" style="width: 100%; height: 300px;" alt="man"></li>
                      <li class="list-group-item p-3" style="font-weight: 500;">
                          <span>Phone: +421 99 123456</span><br>
                          <span>Hotline: +421 99 123456</span>
                      </li>
                      <li class="list-group-item" style="color: blue;"> 
                        <i class="fab fa-facebook-f"></i>&nbsp; &nbsp;
                        <i class="fab fa-linkedin-in"></i>&nbsp; &nbsp;
                        <i class="fab fa-youtube-square"></i>
                      </li>
                    </ul>
                  </div>
            </div>
            <div class="col-8 mt-2 mb-4">
                <h2>Contact us</h2>
                <br>
                <span class="pt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nulla ipsa laborum reprehenderit facilis maiores inventore veritatis exercitationem, illo hic neque fugiat officiis accusantium eveniet iste recusandae, temporibus eos deleniti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quas itaque dolorem enim maxime repudiandae sed quibusdam commodi! Impedit beatae autem earum obcaecati explicabo minima placeat asperiores quidem officiis nulla!</span><br><br><br>
                <form method="">
                    <div class="row mb-4">
                        <div class="col-6">
                            <input type="text" class="form-control" id="" placeholder="Name">
                        </div>
                        <div class="col-6">
                            <input type="email" class="form-control" id="" placeholder="Mail">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">         
                            <textarea class="form-control" placeholder="Your Message" id=""></textarea>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">         
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="row  mb-4" style="margin-top: 7rem;">
            <div class="col-4">
                <div class="card text-center mx-auto" style="width: 80%;">
                    <img src="/img/map.jpg" class="card-img" alt="map">
                    <div class="card-img-overlay">
                      <p class="card-text" style="margin-top: 8rem;">Click on button to show the map.</p>
                    </div>
                  </div>
            </div>
            <div class="col-8">
                <span style="font-weight: 700; font-size: x-large;"><i class="fas fa-question-circle" style="color: green;"></i> Lorem ipsum, dolor sit amet ?</span><br><br>
                <spam style="font-size: 15px; color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta alias esse exercitationem vel quam accusantium rerum quo maxime facere inventore ullam, nihil amet possimus odio. Accusantium provident voluptate nesciunt facere!</span><br><br>
                <hr>
                <span style="font-weight: 700; font-size: x-large;"><i class="fas fa-question-circle" style="color: green;"></i> Accusantium provident voluptate nesciunt facere!</span>
            </div>
        </div>
        <div class="row mb-4 p-4" style="margin-top: 7rem; background-color: rgb(231, 228, 228);">
            <div class="col-1">
                <img src="/img/man.jpg" alt="man" style="border-radius: 50%; width: 100%;">
            </div>
            <div class="col-3">
                <h3>Mr. Eduardo Welch</h3>
                <span>SUPPORT</span><br><br>
                <span style="font-size: small;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia nihil doloribus inventore quia dolor quam quos nesciunt quibusdam architecto quaerat possimus nemo ex sapiente voluptatum, veniam suscipit est vitae placeat.</span><br><hr>
                <span style="font-weight: 500;">Phone: +421 99 123456 |</span><br>
                <span style="font-weight: 500;">Hotline: +421 99 123456</span><br><br>
                <span style="color: blue;"> 
                    <i class="fab fa-facebook-f"></i>&nbsp; &nbsp;
                    <i class="fab fa-linkedin-in"></i>&nbsp; &nbsp;
                    <i class="fab fa-youtube-square"></i>
                </span>
            </div>
            <div class="col-1">
                <img src="/img/women.jpg" alt="women" style="border-radius: 50%; width: 100%;">
            </div>
            <div class="col-3">
                <h3>Mrs. Felicia Wells</h3>
                <span>ACCOUNT & SALES MANAGER</span><br><br>
                <span style="font-size: small;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia nihil doloribus inventore quia dolor quam quos nesciunt quibusdam architecto quaerat possimus nemo ex sapiente voluptatum, veniam suscipit est vitae placeat.</span><br><hr>
                <span style="font-weight: 500;">Phone: +421 99 123456 |</span><br>
                <span style="color: blue;">name@company.com</span><br><br>
                <span style="color: blue;"> 
                    <i class="fab fa-facebook-f"></i>&nbsp; &nbsp;
                    <i class="fab fa-linkedin-in"></i>&nbsp; &nbsp;
                    <i class="fab fa-youtube-square"></i>
                </span>
            </div>
            <div class="col-1">
                <img src="/img/women.jpg" alt="women" style="border-radius: 50%; width: 100%;">
            </div>
            <div class="col-3">
                <h3>Mrs. Robin Carter</h3>
                <span>MARKETING DIRECTOR</span><br><br>
                <span style="font-size: small;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia nihil doloribus inventore quia dolor quam quos nesciunt quibusdam architecto quaerat possimus nemo ex sapiente voluptatum, veniam suscipit est vitae placeat.</span><br><hr>
                <span style="font-weight: 500;">Phone: +421 99 123456</span><br>
                <span style="color: blue;">name@company.com</span><br><br>
                <span style="color: blue;"> 
                    <i class="fab fa-facebook-f"></i>&nbsp; &nbsp;
                    <i class="fab fa-linkedin-in"></i>&nbsp; &nbsp;
                    <i class="fab fa-youtube-square"></i>
                </span>
            </div>
        </div>
        <footer style="background-color: black; color: white; margin-top: 7%;">
            <div class="row pt-4 p-4 pb-4">
                <div class="col-6">
                    <span style="font-size: 30px; font-weight: 600;">Directory</span> <span style="font-size: small; background-color: rgb(27, 179, 27); padding: 1px 2px 2px 1px; color: white; vertical-align: text-top;">pro</span><br><br>
                    <span style="font-size: small; color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eos ducimus eaque necessitatibus, ipsa ex unde magni obcaecati aperiam cum? Qui ipsam aliquam omnis perferendis illum dolores, minima voluptatum tenetur!</span><br><br>
                    <span style="font-size: small; font-weight: 600;">Best selling directory theme on the market!</span>
                </div>
                <div class="col-3">
                    <span style="font-size: small; font-weight: 900;">LATEST ADDITION</span><br><br>
                    <div class="row">
                        <div class="col-4">
                            <img src="/img/hamburger.jpg" alt="hamburger" style="width: 100%;">
                        </div>
                        <div class="col-8">
                            <span style="color: rgb(8, 182, 8); font-size: small; font-weight: 700;">Y&M Hamburger</span><br>
                            <span style="font-size: small; color: yellow;">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></span>
                        </div>
                        <div class="col-12 mt-2" style="font-size: small;">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima et omnis officia repudiandae adipisci ratione nostrum dolorem tempora beatae cum iure maiores facilis aut, aliquid ipsam at dolor corrupti iste.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <span style="font-size: small; font-weight: 900;">GET IN TOUCH</span><br><br>
                    <span style="font-size: small;">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores porro aspernatur corporis illum itaque fugiat sit sint a, sunt cupiditate laudantium explicabo, aperiam pariatur, minima maxime voluptate facere in mollitia!
                    </span><br>
                    <button class="btn btn-success mt-2" style="font-weight: 500; font-size: small;"> Contact Us</button>
                </div>
            </div>
            <div class="row" style="background-color: rgb(36, 35, 35);">
                <div class="col-8 p-4">
                    <span style="color: #ffffff; font-size: small; font-weight: 500;">&copy; 2020 Copyright by AIT.</span><span style="color: gray; font-size: smaller;"> All rights reserved</span>
                </div>
                <div class="col-4 p-4 ">
                    <ul>
                        <li style="display: inline; padding: 7px;">Home</li>
                        <li style="display: inline; padding: 7px;">Blog</li>
                        <li style="display: inline; padding: 7px;">Elements</li>
                        <li style="display: inline; padding: 7px;">Features</li>
                        <li style="display: inline; padding: 7px; font-size: x-large;"><i class="fab fa-facebook"></i></li>
                        <li style="display: inline; padding: 7px; font-size: x-large;"><i class="fab fa-twitter-square"></i></li>
                        <li style="display: inline; padding: 7px; font-size: x-large;"><i class="fab fa-youtube-square"></i></li>
                        <li style="display: inline; padding: 7px; font-size: x-large;"><i class="fas fa-basketball-ball"></i></li>

                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
</html>